:root {
  --wp-admin-theme-color: #0071b8;
  --wp-admin-theme-color-darker-10: #2369a6;
  --wp-admin-theme-color-darker-20: #00131f;
}

.components-panel__header.edit-post-sidebar-header {
  background-color: #e0e0d8;
}

.edit-post-layout {
  .block-editor-editor-skeleton__content {
    background-color: #e0e0d8;
  }

  fieldset:not(.fieldgroup) {
    padding: 0;
    border: 0;
    background: none;

    & > legend {
      position: initial;

      &.components-visually-hidden {
        position: absolute;
      }
      
    }
  }
}
