{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available functions:
 * - flagcount(flag, flaggable) gets the number of flaggings for the given flag and flaggable.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('bookmarks/flag.icon') }}
{{ attach_library('flag/flag.link') }}

{%
  set classes = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action == 'unflag' ? 'action-unflag' : 'action-flag'
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<a{{ attributes.addClass(classes) }}>
  <svg width="25" height="25" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.152858 6.11575C0.113643 6.25558 0.115872 6.4038 0.159275 6.5424C0.202677 6.68099 0.285386 6.804 0.397358 6.8965L4.00111 9.86875L2.86486 14.9612C2.83165 15.1097 2.84435 15.2646 2.90126 15.4057C2.95817 15.5467 3.05661 15.6671 3.18352 15.7509C3.31043 15.8347 3.45981 15.8779 3.61186 15.8748C3.7639 15.8718 3.91142 15.8226 4.03486 15.7337L8.00011 12.8815L11.9654 15.7315C12.0888 15.8203 12.2363 15.8695 12.3884 15.8726C12.5404 15.8757 12.6898 15.8324 12.8167 15.7486C12.9436 15.6648 13.042 15.5444 13.099 15.4034C13.1559 15.2624 13.1686 15.1074 13.1354 14.959L11.9991 9.8665L15.6029 6.89425C15.7149 6.80186 15.7977 6.67893 15.8412 6.5404C15.8847 6.40187 15.8871 6.25369 15.848 6.11384C15.8089 5.97399 15.7301 5.84849 15.6211 5.75257C15.5121 5.65665 15.3775 5.59445 15.2339 5.5735L10.8711 4.93675L8.67511 0.539496C8.60581 0.423264 8.50752 0.327018 8.38985 0.26018C8.27219 0.193342 8.13918 0.158203 8.00386 0.158203C7.86854 0.158203 7.73553 0.193342 7.61787 0.26018C7.5002 0.327018 7.40191 0.423264 7.33261 0.539496L5.12911 4.939L0.766358 5.57575C0.622829 5.59678 0.488481 5.65899 0.379591 5.75484C0.270701 5.85068 0.191942 5.97605 0.152858 6.11575ZM5.73361 6.367C5.85318 6.34956 5.96677 6.3035 6.06471 6.23272C6.16264 6.16195 6.24203 6.06855 6.29611 5.9605L8.00011 2.55175L9.70411 5.9605C9.75819 6.06855 9.83757 6.16195 9.93551 6.23272C10.0334 6.3035 10.147 6.34956 10.2666 6.367L13.3416 6.817L10.6896 9.00475C10.5829 9.09289 10.5027 9.20884 10.4578 9.33975C10.413 9.47066 10.4052 9.61144 10.4354 9.7465L11.2424 13.366L8.43811 11.3485C8.31051 11.2567 8.1573 11.2073 8.00011 11.2073C7.84292 11.2073 7.68971 11.2567 7.56211 11.3485L4.75786 13.366L5.56486 9.7465C5.59504 9.61144 5.58726 9.47066 5.54239 9.33975C5.49752 9.20884 5.4173 9.09289 5.31061 9.00475L2.65711 6.8155L5.73361 6.367Z" fill="currentColor"/>
  </svg>

  <span>{{ title }}</span>
</a>
{% endspaceless %}
