<article class="comment_card">
  <div class="row">
    <div class="col-10">
      <div class="row_comments">
        {{ user_picture }}
      </div>
      <div class="row_comments">
        <div class="comment_author">{{ author }}</div>
        <div class="comment_created">{{ created }}</div>
      </div>
    </div>
    <div class="col-10">
      <div class="comment_content">{{ content }}</div>
      <div class="comment_reply">Ответить</div>
    </div>
  </div>
</article>
